/*primary colors*/

$white-cl: #fff;
$black-cl: #000;
$yellow-cl: #bea67c;
$yellow9e-cl: #9e8a67;
$yellowcb-cl: #cfbe9f;

/*global text color*/

$text-cl:#000;
$black01-cl: #010101;
$black46-cl: #464646;
$black63-cl:#636262;
$blackb0-cl:#b0b0b0;
$black30-cl: #303030;
$black0e-cl: #0e0e0e;
$blacke5-cl:#e5e5e5;

/*global bg color*/

$main-bg-cl: #000;
$white-bg-cl: #fff;
$black-bg-cl: #0e0e0e;
// timing transition
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/

$font-stack: "Open Sans",
sans-serif;
$font-system: Arial;
$font-main: "ProximaNova Regular",
sans-serif;
$font-bold: pb,
sans-serif;
$font-exbld: pe,
sans-serif;

/*headings typo*/

$fz-text: 16px;
$lh-text: normal;
$fz83-text:83px;
$fz42-text:42px;
$fz40-text:40px;
$fz35-text:35px;
$fz30-text: 30px;
$fz18-text: 18px;
$fz15-text: 15px;
$fz14-text:14px;
$fz12-text: 12px;
$fz-text-m: 16px;
$lh-text-m: normal;
//============================================================//
//width-icon-menu
$widthSm: 60px;
$widthMin360: 45px;

/*BOXED LAYOUT*/

$container-max-width: 1920px;
$container-width: 1005px; // tùy thuộc vào container của bản thiết kế mà chỉnh sửa cho hợp lý

/*GRID - media queries breakpoints*/

$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH
$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop