.news {
    .container {
        .news__header {
            .heading {
                @include headingStyle($fz40-text, 1, $black-cl, uppercase, bold, 2.8px);
                margin-bottom: 25px;
                @include xs {
                    font-size: $fz30-text;
                }
            }
            .desc {
                @include descStyle($fz-text, 22/16, $black-cl, 500, 0.4px);
                max-width: 450px;
                margin-bottom: 45px;
                @include xs {
                    font-size: $fz14-text;
                }
            }
            .news__control {
                --btnCtrl-color: #ddd;
                display: none;
                @include xs {
                    display: block;
                }
                @include xs {
                    .btnctrl {
                        display: inline-block;
                        padding: 10px 15px;
                        text-decoration: none;
                        background-color: var(--btnCtrl-color);
                        color: $black-cl;
                        margin-bottom: 30px;
                    }
                }
                &-in {
                    margin-right: 15px;
                }
                .--active {
                    color: $white-cl;
                    background-color: $yellow-cl;
                }
            }
        }
        .news__blog-list {
            @include mid(true, space-between);
            align-items: flex-start;
            gap: 25px;
            @include md {
                --f-columns: 2;
                --f-gap: 15px;
                flex-wrap: wrap;
                margin-left: calc(-1 * var(--f-gap));
                margin-bottom: calc(-1 * var(--f-gap));
            }
            @include sm {
                --f-columns: 2;
                --f-gap: 10px;
                flex-wrap: wrap;
                margin-left: calc(-1 * var(--f-gap));
                margin-bottom: calc(-1 * var(--f-gap));
            }
            @include xs {
                --f-columns: 0;
                --f-gap: 0;
                display: block;
            }
            .blog__item {
                @include md {
                    margin-left: var(--f-gap);
                    margin-bottom: var(--f-gap);
                    width: calc((100% / var(--f-columns) - var(--f-gap)));
                    flex: 1;
                }
                @include sm {
                    margin-left: var(--f-gap);
                    margin-bottom: var(--f-gap);
                    width: calc((100% / var(--f-columns) - var(--f-gap)));
                    flex: 0;
                }
                @include xs {
                    margin-bottom: 40px;
                    &:last-child {
                        margin-bottom: -40px;
                    }
                }
                &-img {
                    width: 327px;
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    @include md {
                        width: 100%;
                    }
                    @include sm {
                        width: 327px;
                    }
                    @include xs {
                        width: 100%;
                    }
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 1s;
                        &:hover {
                            -ms-transform: scale(1.2);
                            -webkit-transform: scale(1.2);
                            transform: scale(1.2);
                        }
                    }
                }
                &-heading {
                    display: block;
                    text-decoration: none;
                    max-width: 283px;
                    @include headingStyle($fz18-text, 24/18, $black-cl, uppercase, bold, 0.36px);
                    margin-bottom: 23px;
                    padding-top: 50px;
                    @include overtext(2);
                    position: relative;
                    transition: all 0.3s ease-out;
                    &:hover {
                        color: $yellow-cl;
                    }
                    @include xs {
                        max-width: 100%;
                        margin-bottom: 20px;
                        padding-top: 30px;
                        font-size: $fz-text;
                    }
                    h3 {
                        height: 50px;
                        @include xs {
                            height: auto;
                        }
                        &::before {
                            position: absolute;
                            content: "";
                            top: 0%;
                            left: 0;
                            width: 85px;
                            height: 3px;
                            background-color: $yellow-cl;
                            transform: translateY(30px);
                            @include xs {
                                // display: none;
                                transform: translateY(15px);
                            }
                        }
                    }
                }
                &-text {
                    // margin-top: 20px;
                    @include overtext(3);
                    max-width: 285px;
                    @include xs {
                        max-width: 100%;
                        font-size: $fz14-text;
                    }
                }
            }
        }
    }
}